{% extends '::base.html.twig' %}

{% block content %}
<div>
    <form action="#" method="post" {{ form_enctype(form) }} class="form-horizontal">
          {{ form_widget(form) }}
          <div class="control-group">
            <div class="controls">
                <input type="submit" value="Upload Document" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
